* {
	margin: 0;
	padding: 0;
}
p{
	line-height: 1.875em;
}
/* Navbar */ 


.info {
  width: 300px;
    margin: 50px auto;
  text-align: center;
  h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    color: @dark_gray;

  }
  span {
    color: @gray;
    font-size: 12px;
    a {
      color: @black;
      text-decoration: none;
    }
    .fa {
      color: @accent;
    }
    .spoilers {
      color: @light_gray;
      margin-top: 5px;
      font-size: 10px;
    }
  }
}
body {
	overflow-x: hidden;
}
header{
	display: flex;
	background-color: #ffffff;
	justify-content: center;
	height: 10vh;
}
header sticky{
	height: 8vh;
	display: none;
}
.Navegação.sticky{
}
.cabeçalho1 sticky{
	display:none;
}
.Navegação {
	display: flex;
	justify-content: center;
	align-items: center ;
	font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
	height: 10vh;
	overflow-y: auto;
	color: #000;
	position: fixed;
	background-color: #ffffff;
	width: 100%;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.logogeral{
	display: flex;
	align-items: center;
}
.logo {
	text-decoration: none;
	transition: 0.3s;
}
.Logoimage{
	margin-right: 1px;
	height: 50px;
	width: 50px;

}
.logoimage:hover{
	color: #ec63a4;
}
.logogeral:hover{
	color:#00a3d9 ;
	opacity: 0.65;
}
.Divisão1{
	background: url(/hero-bg.jpg);
}
.logo {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #000000;
}
.textospinmagazine{
	font-family: 'Merriweather', serif;
	font-size: 22.5px;
	font-weight: 400;
}
.logo{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.logo:hover{
	color: #000000;
}
.logogeral:hover{
	transform: scale(1.1);
	color: blue;

}
.barranav{
	margin-left: 40px;
	font-size: 30px;
	font-weight: 100;
	margin-bottom: 8px;

}
.nav-list{
	position: fixed;
}
.nav-list2 {
	list-style: none;
	display:flex;
	color: #ffffff;
	text-decoration:none;
	transition:0.3s;
	margin-right:100px;
}
.nav-list2 li {
	letter-spacing: 3px;
	margin-left: 30px;
	
}

.letrasnav-navegação{
	font-family: "Pangram",'Poppins', sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 20px;
	transition: 0.3s;
	color: #000;
	-moz-transform: scale(1.9);
        -webkit-transform: scale(1.9);
        -o-transform: scale(1.9);
        transform: scale(1.9);
	-moz-transform-origin: center center;
	-webkit-transform-origin: center center;
	transform-origin:center center ;
}
.letrasnav-navegação:hover{
	color: #ec63a4;
	transform: scale(20);
}
.nav-list2 li:hover{
	transform: scale(1.1);
}
.imagem-principal{
	background:url(/Pc/noah-wPtES2fuz6Q-unsplash.jpg) center;
	height: 100vh;
	background-position:center;
	color: #;
}


/*Main*/
main{
	height: auto;
	width: 100vw;
	background: #ffffff;
	
}
/*Divisão 1*/
.Instituto-container-divisão-1{
padding: 0 4em 0 4em;
}
.Instituto-container{
max-width: 1160px;
margin: 1em auto 0 auto;
}
.Divisão1{
	
}
.Titulo-Postagens-principal{
	margin: 50px auto 50px auto;
	max-width: 40em;
}
.Classe-h1{
	color: #ec63a4;
	font-size: .7rem;
	text-transform:uppercase;
	font-family: "Poppins", sans-serif;
	letter-spacing: 3px;
	font-weight: 800;
	margin: 0 0 20px 0;
}
h1{
	font-family: Noe Display, sans-serif;
	font-size: 2.8125rem;
	font-weight: 500;
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
	
}
h1:hover{
	color: #ec63a4;
}
.Clicavél-h1{
	text-decoration: none;

}
.Subtitulo-h1{
	font-style: italic;
	font-weight: 500px;
	font-family: Merriweather, sans-serif;
	font-size: 16px;
	color: rgb(133, 133, 133);
}
.Postagens{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	align-content: center;
	align-items: center;
	justify-content: center;
}
.caixa-artigos1{
	height: 550px;
	width: 360px;
	margin: 0px 200px 40px 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.Titulo-Artigo1{
	font-family: Noe Display, sans-serif;
	font-size: 30px;
	margin: 0 12px 12px 0;
}
.Artigo1{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;

}
.Clicavel{
	color: black;
	text-decoration: none;
}
.Clicavel:hover{
	color: #00a3d9;
}
.caixa{
	width: 500px;
	height: 250px;
	box-sizing: border-box;
	margin-bottom: 1.7em;
	z-index: 0;
	overflow: hidden;
	border: 2px solid rgb(0, 0, 0);
	transition: none 0s ease 0s;
	box-shadow: rgb(0, 0, 0) 3px 4px 0px 0px;
	color: rgb(42, 42, 42);
	background-color: rgb(255, 255, 255);
	margin-bottom: 24px;
	border-radius: 8px;
}
.Informações-Artigo1{
	margin: 0 10px 0 0;
	width: 500px;
	font-family: MerriWeather,sans-serif;
}
.By-Basico-principal1{
	font-size: 8px;
	margin: 30px 100px 0 0 ;
	font-family: MerriWeather,sans-serif;
	color: black;
}
.Ler-Principal-imagem1{
	color: #00a3d9;
	font-size: 18px;
	font-family: "Poppins",sans-serif;
	font-weight: 800;
	margin: 20px 0 0 0;
}
.Ler-Principal-imagem1:hover{
	color: #ec63a4;
}
.Criado-Por{
	margin: 30px 0 30px 0;
	font-size: 12px;
	letter-spacing: 2px;
	color: #5a5a5a;
}
.Criado-Por:hover{
	color: black;
}
.Breve-Texto-padrão{
	margin: 20px 0 0 0;
	font-size: 14px;
	color: #5a5a5a;
	letter-spacing: 2px;
}
/*Divisão 2*/
.Instituto-container-divisão-2{
margin: 3em 0 6em 0;
}
.Instituto-container2{

}
.Divisão2{

}
.imagemprincipal2{
	height: 100vh;
	width: 100vw;
}
/*Divisão 3*/
.Instituto-container-divisão3{
padding: 0 4em 2em 4em;
}
.Instituto-container3{
max-width: 1160px;
margin: 0 auto 0 auto;
width: 100%;
}
.Divisão3{

}
.Titulo-Postagens-principal2-background{
	width: 1000px;
	height: 300px;
	margin: -80px auto 60px auto;
}
.Titulo-Postagens-principal2{
	margin: 0 auto 120px auto;
	max-width: 40em;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	z-index: 0;
	overflow: hidden;
	border: 2px solid rgb(0, 0, 0);
	transition: none 0s ease 0s;
	box-shadow: rgb(0, 0, 0) 12px 12px 0px 0px;
	color: rgb(42, 42, 42);
	background-color: rgb(255, 255, 255);
	margin-bottom: 24px;
	width: calc(100% - 12px);
	border-radius: 8px;
}
/*Divisão 4*/
.Instituto-container-divisão4{
	padding: 1em 2em 1em 2em;
	background-color: #efefef;
}
.Instituto-container4{
padding: 0 2em 0 2em;
max-width: 560px;
margin: 1em auto 0 auto;
padding: .5em 0 .5em;
}
.Divisão4{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
}
@font-face {
	font-family: NoeDisplay;
	src: url(/Pc/Spin\ Magazine/FontsFree-Net-NoeDisplay-Bold.ttf);
}
@font-face {
	font-family: pangram;
	src: url(/Pc/Spin\ Magazine/pangram.ttf);
}
.Newsletter-Recentes{
	padding: 300px 0 0 0;
	color: #00a3d9;
	margin: 30px 0 0 0;
	font-size: 16px;
	padding: 0 0 10px 0;
	font-weight: 500;
	text-decoration: none;
	font-family: pangram;
	border-bottom: solid 2px;
}
.Newsletter-Recentes:hover{
	color: #1a1a1a;
}
.Newsletter-Spin-frase{
font-size: 2.19rem;
font-family: NoeDisplay;
color: #1a1a1a;
}
.Newsletter-Spin-subtitulo{
font-size: 13px;
font-family: 'Merriweather', serif;
padding: 10px 0 40px 0;
color:#6b6b6b;
}
.divisor-newsletter{
width: 100px;
}
.emailebotao{
	display: flex;
	align-items: center;
	justify-content: center;
}
.Email-Newsletter{
	outline: none;
	padding: .9em 1.2em .85em;
	border: none;
	font-size: 20px;
	width: 300px;
	font-family: "Poppins",sans-serif;

}
.Email-Newsletter::after{
content: "";
background: #ccc;
height: 1.75em;
width: 1px;
margin-top: -.875em;
font-size: 16px;
}
.Botão-Subscribe{
	margin: none;
	color: #00a3d9;
	border-left: solid 1px;
	background-color: transparent;
	font-family: "Poppins",sans-serif;
	font-size: 16px;
	border-top: none;
	border-bottom: none;
	border-right: none;
	padding: 10px 0 10px 20px;
	border-color: #cccccc;
}
.Botão-Subscribe:hover{
	color: #1a1a1a;
}
/* rodapé */
.rodapé{
	background-color: #ffffff;
	height: 20vh;
	width: 100%;
	box-shadow: 0 -3px 112px -40px rgba(0,0,0,.4);
	display: block;
}
.rodapé1-geral{
	padding-left: 4rem;
	padding-right: 4rem;
}
.rodapé-geral{
	max-width: 1160px;
	margin-right: auto;
	margin-left: auto;
	color: #1a1a1a;
	font-family: Merriweather,Georgia,serif;
	font-size: 100%;
	line-height: 1.7;
	font-weight: 400;
	padding: 1em 0 10px 0;
}
.rodapé-sessão1{
	height: 50%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}
.logo-rodapé{
	text-decoration: none;
	transition: 0.3s;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 26px;
	padding: 0 0 0 10px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: #000000;
}
.logo-rodapé:nth-child(1){
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.logo-rodapé:nth-child(2){
	font-size: 22.5px;
	color: #999;
}
.divisorpararodapé{
	color: #cccccc;
}
.rodapé-sessão2{
	height: 50%;
	paddingg: 2.5rem 0 2rem 0;
	display: flex;
	align-items: baseline;
	justify-content: center;
}
.copyright-rodapé{
	color: #999;
	font-size: 0.7em;
	padding: 20px;
	font-family: 'Poppins', sans-serif;
}
.copyright-brands{
	width: auto;
}
.copyright-lista-brands{
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	font-size: 25px;
	gap: 30px;
	padding: 0 10px 0 0;
}
.copyright-rodapé2item2{
	color: #999;
	font-size: 0.7em;
	padding: 20px;
}
.copyrightlista{
	border-left: 1px solid; 
	color: #999;
	list-style: none;
	text-decoration: none;

}
.copyright-lista-item{
	text-decoration: none;
	color: #000000;
}
#semefeito{
	color: black;
	text-decoration: none;
}
#semefeito:hover{
	color: #00a3d9;
	transform: scale(1.2);
}
.copyrightlistaprincipal{
	display: flex;
	justify-content: flex-start;
}
/* Para celular */
/*Mobile menu pc*/
.mobile-menu {
	display: none;
	cursor: pointer;
}

.mobile-menu div {
	width: 32px;
	height: 2px;
	background: rgb(0, 0, 0);
	margin: 8px;
	transition: 0.3s;
}
.nav-list-principal{
max-width:1160px;
margin: auto;
width: 100%;
}
.nav-list-principal3{
display: flex;
justify-content: space-between;
}
.nav-list-principal4{

}
.nav-list-principal2{
	width: 360px;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	text-align: left;
	border-bottom: solid 1px;
}
#semefeito{
	color: #a0a0a0;
	text-decoration: none;
}
#semefeito:hover{
	color: #00a3d9;
	transform: scale(1.2);
}
.copyright-brands2{
	width: auto;
}
.copyright-lista-brands2{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	font-size: 25px;
	padding: 0 10px 0 0;
}
.copyrightlista2{
	border-left: 1px solid; 
	color: #999;
	list-style: none;
	text-decoration: none;

}
.copyright-lista-item2{
	text-decoration: none;
	color: #ffffff;
	padding:16px 20px 0 20px ;

}
	.nav-list {
		position: fixed;
		top: 10vh;
		right: 0;
		width: 100vw;
		height: 100vh;
		background: #ffffff;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(1000%);
		transition: transform 0.4s ease-in;
}
.nav-list li {
	margin-left: 0;
	opacity: 0;
}
.mobile-menu {
	display: block;
}
.mobile-menu:hover{
	opacity: 0.7;
}

.nav-list {
	list-style: none;
	display: flex;
	color: #1a1a1a;
	opacity: 0.95;
	background: #1a1a1a;
	text-decoration: none;
	transition: 0.3s;
}

.nav-list li {
	letter-spacing: 3px;	
}
.letrasnav3{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #a3a3a3;
	text-decoration: none;
	font-size: 30px;
	transition: 0.3s;
}
.letrasnav{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #a3a3a3;
	text-decoration: none;
	font-size: 30px;
	transition: 0.3s;
}
.Newsletter-Spin-subtitulo2{
	font-size: 13px;
	font-family: 'Merriweather', serif;
	padding: 10px 0 30px 0;
	color: #6b6b6b;
	text-decoration: none;
}
.Newsletter-Principal{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f30808;
}
.Email-Newsletter2{
	font-family: poppins,sans-serif;
	background: transparent;
	border: none;
	color: #9c9c9c;
	font-size: 16px;
	outline: 0;
}
.Botão-Subscribe2{
	margin: none;
	color: #ec63a4;
	border-left: solid 1px;
	background-color: transparent;
	font-size: 14px;
	border-top: none;
	border-bottom: none;
	border-right: none;
	padding: 10px 0 10px 10px;
	border-color: #cccccc;
	font-family: poppins,sans-serif;
	cursor: pointer;
}
.Newsletter-Recentelsl{
	color: #5a5a5a;
	text-decoration: none;
	font-family:poppins,sans-serif;
	margin: 20px 0 0 0px;
}
.Newsletter-Recentelsl:hover{
	color:#ec63a4;
	transform: scale(1.3);
}
.letrasnav:hover{
	color: #ec63a4;
	opacity: 0.7;
	transform: scale(1.2);
}
.letrasnav1b{
	padding: 0 0 47px 0;
	margin: 0 0 50px 0;
	border-bottom: solid 1px;
	border-color: rgb(167, 167, 167);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.nav-list.active {
	transform: translateX(0);
}
@media (max-width: 1177px) {
	body {
		overflow-x: hidden;
	}
		.nav-list {
		position: absolute;
		top: 8vh;
		right: 0;
		width: 100vw;
		height: 92vh;
		background: #ffffff;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
}
.Titulo-Postagens-principal2{
	margin: auto;
}
.nav-list-principal{
	margin: auto;
	width: 500px;
	margin-top: 4px;
}
.nav-list li {
	margin-left: 0;
	opacity: 0;
}
.home-mobile-menu{
	
}
.Titulo-Postagens-principal2-background{
	width: 600px;
}
.mobile-menu {
	display: block;
}
.mobile-menu:hover{
	opacity: 0.7;
}

.nav-list {
	list-style: none;
	display: flex;
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}

.nav-list li {
	letter-spacing: 3px;
	
}


.letrasnav1b{
	display: absolute;
}
.nav-list-principal4{
	display: none;
}
.Escritor-area-principal{
	display: none;
}
.Base-Titulo-Artigo-Espaçamento{
	padding-left: 2rem;
	padding-right: 2rem;
}
.nav-list.active {
	transform: translateX(0);
}
.Navegação{
	overflow-y:0;
}
.letrasnav{
	color:#1a1a1a;
}
.nav-list-principal2{
	width: 474px;
}
.Titulo-Subtitulo-Artigo{
	font-size:.947rem;
	padding-left:1rem;
	padding-right:4rem;
}
.Principal-laterais-texto{
	padding: 0;
}
.Texto-area{
	padding-right: 2rem;
	padding-left: 2rem;
}
.Newsletter-Spin-frase{
	padding-left:4.74rem;
	padding-right:4rem;
}
.Newsletter-Spin-subtitulo{
	padding-left:3rem;
	padding-right: 3rem;
}
.Botão-Subscribe{
	border-left: none;
	padding-left: 4rem;
	padding-right: 4rem;
	width: 100%;
}
.rodapé-sessão1{
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}
.nav-list {
	list-style: none;
	display: flex;
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}

.nav-list li {
	letter-spacing: 3px;
	
}

.nav-list.active {
	padding-top:50px;
	transform: translateX(0);
}
.nav-list2{
	display: none;
}
.nav-list.active {
	transform: translateX(0);
	position: fixed;
}
.nav-list2{
	display: none;
}
}
@keyframes navLinkFade {
	from {
	opacity: 0;
		transform: translateX(50px);
	}
	to {
	opacity: 1;
		transform: translateX(0);
}
}

.mobile-menu.active .line1 {
	transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
	opacity: 0;
}

.mobile-menu.active .line3 {
	transform: rotate(45deg) translate(-5px, -7px);
}
@media (max-width: 420px) {
	body {
		overflow-x: hidden;
	}
		.nav-list {
		position: absolute;
		top: 8vh;
		right: 0;
		width: 100vw;
		height: 92vh;
		background: #ffffff;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
}
.nav-list-principal2{
	width: 407px;
}
}
@media (max-width: 850px) {
	body {
		overflow-x: hidden;
	}
		.nav-list {
		position: absolute;
		top: 8vh;
		right: 0;
		width: 100vw;
		height: 92vh;
		background: #ffffff;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
}
	.caixa-artigos1{
		height: auto;
		width: auto;
		align-items: center;
		justify-content: center;
		word-break: normal;
		margin: auto;
	}
	.Titulo-Artigo-Principal2-PequeNo{
		font-size: 40px;
	}
	.Titulo-Postagens-principal2-background{
		width: 374px;
	}
	.Titulo-Postagens-principal2{
		padding: auto;
	}
}
@media (max-width: 450px) {
	body {
		overflow-x: hidden;
	}
		.nav-list {
		position: absolute;
		top: 8vh;
		right: 0;
		width: 100vw;
		height: 92vh;
		background: #ffffff;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.3s ease-in;
}
	.Titulo-Artigo-Principal2-PequeNo{
		font-size: 40px;
		width: auto;
	}
	.Titulo-Postagens-principal2-background{
		width: 300px;
		height: 374px;
	}
	.Titulo-Postagens-principal2{
		width: auto;
	}
	.caixa-artigos1{
		height: auto;
		width: 300px;
		align-items: center;
		justify-content: center;
		word-break: normal;
		margin: auto;
	}
	.caixa{
		width: auto;
		margin: 47px 0 47px 0 ;
	}
	.Informações-Artigo1{
		width: auto;
		word-break: break-all;
	}
	.Breve-Texto-padrão{
		word-break: break-all;
	}
}